<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 02</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Desarrollo de Soluciones en la Nube - <%=name%></h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Profesor</th>
                <th>Aula</th>
              </tr>
        </thead>
        <tbody>
        <% Object.values(classes).forEach(val => { %>
            <tr>
                <td><%=val.id%></td>
                <td><%=val.name%></td>
                <td><%=val.teacher%></td>
                <td><%=val.classroom%></td>
              </tr>
          <% }); %>
        </tbody>
      </table>
</body>
</html>